*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: pink;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.header{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: 1/1;
    background-color: black;
    color: white;
}
.sidebar{
    grid-column: 1/4;
    grid-row: 2/12;
    background-color: yellowgreen;
}
.navigation{
    grid-row: 2/3;
    grid-column: 4/10;
    background-color: aquamarine;
}
.ads{
    grid-row: 2/12;
    grid-column: 10/13;
    background-color: brown;
}
.main{
    grid-row: 3/12;
    grid-column: 4/10;
    background-color: chartreuse;
}
.footer{
    grid-row: 12/13;
    grid-column: 1/13;
    background-color: darkblue;
    color: white;
}

@media (max-width:720px){
    .header{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row: 1/2;
        background-color: black;
        color: white;
    }
    .sidebar{
        grid-column: 1/4;
        grid-row: 3/12;
        background-color: yellowgreen;
    }
    .navigation{
        grid-row: 2/3;
        grid-column: 1/13;
        background-color: aquamarine;
    }
    .ads{
        grid-row: 12/13;
        grid-column: 1/4;
        background-color: brown;
    }
    .main{
        grid-row: 3/12;
        grid-column: 4/13;
        background-color: chartreuse;
    }
    .footer{
        grid-row: 12/13;
        grid-column: 4/13;
        background-color: darkblue;
        color: white;
    }
}