<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>This is Home Page</h1>
        <h3>Here you can add a photo with caption.</h3>
        <a href="/posts/new">Add new Post</a>
        <div class="line"></div>
        <br>
        <h2>Posts (<%=dataBase.length%>)</h2>
        <% for(let post of dataBase){ %>
            <div class="post">
                <h4>UserName : @<%=post.username%></h4>
                <img src="<%=post.imgUrl%>" >
                <div class="line"></div>
                <h3>Caption : </h3>
                <h4><%=post.caption%></h4>
                
            </div>
            <% } %>
    </div>
</body>
</html>