<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Post</title>
</head>
<body>
    <form action="/posts" method="post" >
        <input type="text" placeholder="enter photo path" name="imgUrl">
        <input type="text" placeholder="username" name="username">
        <textarea name="caption" placeholder="add some caption"></textarea>
        <button>Submit</button>
    </form>
</body>
</html>