<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <h3>Delete user data</h3>
    <form action="/user/<%=id%>/delete?_method=delete" method="post">
        <h3>Enter password</h3>
        <input type="password" name="password">
        <button>Submit</button>
    </form>
</body>
</html>