<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page</h1>
    <h3> <%= 1+2 %> </h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa assumenda beatae itaque amet ut facilis, eius, quo animi minus nulla commodi nam velit harum suscipit in vitae reiciendis consequuntur! Quasi.
    Enim adipisci pariatur vero velit, similique suscipit numquam laborum repudiandae accusamus rem illo ea molestias mollitia, soluta, esse ut praesentium aspernatur minima quod facilis! Animi, fugiat delectus? Debitis, consectetur similique.
    Nam magni tenetur reprehenderit enim sunt beatae. Excepturi expedita voluptatum hic, sint, fugit recusandae quidem quod cupiditate incidunt vitae fuga animi voluptates similique veritatis doloribus molestias eaque? Totam, accusantium perferendis.
    Hic itaque pariatur veniam autem neque minus rerum mollitia tempora debitis, aut modi sint nam voluptatem dolores, dolor odio libero aliquid! Corporis obcaecati omnis architecto fugit iste reprehenderit! Iste, labore?
    Inventore vitae aperiam deleniti placeat animi numquam perferendis, cupiditate nesciunt quia. Quod alias blanditiis vitae, corporis commodi eveniet cupiditate cum molestias ad quas adipisci aliquid enim facere, vel porro distinctio.
    Praesentium itaque nemo iure? Quos, nihil culpa. Autem iste optio, repellendus quae veniam quasi obcaecati ea, labore architecto a inventore ipsa sit fugiat, accusamus facilis ab cumque. Cupiditate, quas tempora.
    Blanditiis nobis consequuntur non eveniet adipisci dolore numquam id tempora accusamus enim eum, repellendus suscipit tempore debitis vel porro ducimus excepturi maiores? Dolor nobis culpa veritatis illum quidem cum tempore?
    Modi fugit libero error debitis eos dicta dolorem hic illo quia doloribus minus ex expedita obcaecati nihil nam, vel mollitia. Animi debitis est aperiam alias ipsam nulla officia adipisci esse.
    Ullam numquam dicta laborum. Doloremque, ipsa cumque! Dolor deserunt, voluptates rem ducimus omnis ad laudantium optio unde ratione, possimus, libero nesciunt laboriosam amet magni fugit ab fuga id exercitationem. Ut.
    Laboriosam, dolorem eum ipsum ipsa magni voluptates esse voluptatibus asperiores obcaecati, iure magnam, consequuntur delectus ullam officia minus! Tempore expedita eius obcaecati? Sequi porro distinctio eum. Atque numquam qui iure! ok</p>
    <button>Click me</button>
</body>
</html>