<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>This page belongs to :<%=data.name%></h2>
    <h4>Followers <%=data.followers%></h4>
    <h4>Following <%=data.following%></h4>
    <button>Followers</button>
    <button>Message</button>
    <h3>Followers List</h3>
    <script src="/app.js"></script>
</body>
</html>